@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

ul, li {
    list-style: none;
}



/* Utility */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

.height{
    height: 100px;
}

.text.align{
    text-align: left;
}

.text-center{
    text-align: center;
}

.margin{
    margin: 20px 0px;
}

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

a{
    text-decoration: none;
    color: currentColor;
}

.button{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px 4px;
    text-align: center;
    color: black;
}

.button-blue{
    background-color: rgb(102, 59, 255);
    border-radius: 15px;
    padding: 5px 4px;
    text-align: center;

}

/* Padding  */
.gap-1{
    gap: 2rem;
}

.gap-2{
    gap: 4rem;
}

.p-2{
    padding: 2rem;
}

.py-1 {
    padding: 1rem 0px;
}

.py-2 {
    padding: 2rem 0px;
}

/* Flex class */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}


.justify-between{
    justify-content: space-between;
}

.reverse{
    flex-direction: row-reverse;
}
/* text color*/
.text-white{
    color: white;
}
/* Backgrounds */
.bg-white{
    background-color: rgb(255, 255, 255);
}

.bg-black{
    background-color: black;
}

.bg-yellow{
    background-color: yellow;
}

.bg-red{
    background-color: red;
}

.bg-blu{
    background-color: blue;
}

.bg-gray{
    background-color: lightgray;
}

.bg-header{
    background-image: url(./img/jumbo.png) ;
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    
}

/* Lascia stare */
.hero > * {
    padding: 1rem 0px;
}