/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

/* Utility */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

.height{
    height: 100px;
}

.text.align{
    text-align: left;
}

.margin{
    margin: 20px 0px;
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

/* Padding  */
.gap-1{
    gap: 2rem;
}

.p-2{
    padding: 2rem;
}

.py-1 {
    padding: 1rem 0px;
}

.py-2 {
    padding: 2rem 0px;
}

/* Flex class */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}


.justify-between{
    justify-content: space-between;
}

.reverse{
    flex-direction: row-reverse;
}

/* Backgrounds */
.bg-white{
    background-color: rgb(255, 255, 255);
}

.bg-yellow{
    background-color: yellow;
}

.bg-red{
    background-color: red;
}

.bg-blu{
    background-color: blue;
}

/* Lascia stare */
.hero > * {
    padding: 1rem 0px;
}