/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

/* Utility */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

.margin{
    margin: 0 500px;
}

/* Padding  */
.p-2{
    padding: 2rem;
}

.py-1 {
    padding: 1rem 0px;
}

.py-2 {
    padding: 2rem 0px;
}

/* Flex class */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}


.justify-between{
    justify-content: space-between;
}

/* Backgrounds */
.bg-white{
    background-color: rgb(255, 255, 255);
}

.bg-yellow{
    background-color: yellow;
}

.bg-red{
    background-color: red;
}

/* Lascia stare */
.hero > * {
    padding: 1rem 0px;
}